<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Triple Triad Deck-Builder</title>
  <!-- reset.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />
  <!-- homemade css -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <header class="header">
    <a class="sitename" href="/">Triple Triad Deck Builder</a>

    <nav>
      <a href="/">Cartes</a>
      <a href="/search">Recherche</a>
      <a href="/deck">Decks</a>
    </nav>

  </header>

  <main class="main">